<% include partials/header %>
<h1>Create a New Campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <input type="text" name="description" placeholder = "description">
    <button>Submit!</button>
</form>


<a href="/campgrounds">Go Back to listings</a>
<% include partials/footer %>