<% include partials/header %> 

<h1>This is the home page!</h1>
<p>Ward doing work.</p>

<img src="https://lh3.googleusercontent.com/-p76HSKs20F8/VYsusAhU2jI/AAAAAAAAAio/_NuMwtcLyt8/w2658-h3609/Rocket_Cutout_Render.png" height="200"/>

<% include partials/footer %> 