<% include ./partials/header %>

<p>&nbsp;</p>
<p>&nbsp;</p>
<% blogs.forEach(function(blog){ %>
    <div>
       <h1><%=blog.title %></h1> 
        <img src="<%= blog.image %>" > 
        <p><%=blog.body %></p>
        <%=blog.created %>
    </div>
<% }); %>

<% include ./partials/footer %>